$size: 70px; 
$offsetAmount: 1.1; 
$transitionTime: 0.12s; 



.bubble-menu{
  display: block;
  margin: 50px auto 0; 
  width: $size; 
  height: $size; 
  padding: 0; 
  position: absolute; 
  right: 015px;
  
}

.bubble-li {
  display: block; 
  width: $size;
  height: $size; 
  background-color: blue; 
  border-radius: 50%; 
  opacity: 0.6; 
  mix-blend-mode: screen;
  position: absolute; 
  top: 0; 
  left: 0; 
  transition: transform $transitionTime ease-out, opacity $transitionTime ease-out, color $transitionTime ease-out; 
  cursor: pointer; 
  text-align: center; 
  line-height: $size; 
  color: white; 
  font-family: 'fontawesome'; 
  color: transparent; 
}

/*
li:after{
  content: "";
  display: block; 
  bottom: 100%; 
  left: 50%; 
  height: ($offsetAmount*100%)-100; 
  margin-left: -1px; 
  position: absolute; 
  width: 4px; 
  background-color: inherit; 
  opacity: 0; 
  transition: opacity $transitionTime ease-out; 
}
*/
.bubble-li:first-child:after{
  display: none; 
}
$offset:20%; 
$colors: #004DB3, #26B85A, #FFCB00, #D88E8E;
$transforms:  translate(0,-$offset), 
              translate($offset,0), 
              translate(0,$offset),
              translate(-$offset,0);

@for $i from 1 through 4{
  li:nth-child(#{$i}){ 
    background-color: nth($colors, $i); 
    transform: nth($transforms, $i);
    z-index: 4 - $i; 
    transition-duration: $transitionTime * $i; 
  }

} 


.bubble-menu:hover{
  height: (4*$offsetAmount) * $size; 
  
  li {
    color: white; 
  }
  
  
  @for $i from 1 through 4{
    li:nth-child(#{$i}){ 
      transform: translate(0, ($i - 1)*($offsetAmount*100%));
    
     &:hover{
      opacity: 1; 
      transition-timing-function: cubic-bezier(.5,0,.5,1);
      transform: translate(0, ($i - 1)*($offsetAmount*100%))  scale(1.15, 1.15); 
       transition-duration: $transitionTime*2; 
     }
    
    }
    
    .bubble-li:nth-child(#{$i}):after{
      opacity: 1; 
      transition-delay: ($transitionTime/1.5) * $i; 
    }
  } 
}
