	@import url(http://fonts.googleapis.com/css?family=Oswald:700);

#countdown {
  text-align: center;
  /*color: #3d3d3d;*/
  font-family: "Oswald";
  font-weight: 700;
  font-size: 4em;
  margin: 0 25%;
  border-top: .1em solid;
  border-bottom: .1em solid;
}